*

# Xilinx ISE unrelated files
!.gitignore
!LICENSE
!README.md

# Source files
!/vhdl/
!/vhdl/*.vhd

# Testbenches
!/tb/
!/tb/*.vhd

# Schematics
!/sch/
!/sch/*.sch

# Constraints
!/constraints/
!/constraints/*.ucf

# Project file
!*.xise
